:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
}

.completed {
  background-color: #4caf50;
}

.overdue {
  background-color: #ff4569;
}

.dueToday {
  background-color: #ffef62;
}

.upcoming {
  background-color: #d3d3d3;
}
